.posts {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 30px 20px;
  justify-items: center;
  padding: 10px;
}

.saved-builds {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 30px 20px;
  justify-items: center;
  padding: 10px;
  border: 2px solid rgb(199, 197, 197);
  border-radius: 10px;
}


