.plane-container {
    height: 100%;
    
    position: relative;
    flex: 2;
    display: flex;
    justify-content: center;
}

.blockstate-panel {
    position: absolute;
    right: 10px;
    top: 50px;
    z-index: 1;
    width: 200px;
    max-width: 20%;
    background-color: rgba(71, 71, 71, 0.3);
    padding: 1%;
}

#deepslate-plane {
    height: 100%;
    max-width: 100%;
    aspect-ratio: 4 / 3;

    border: 2px solid green;
}

.blockstate-preview {
    width: 100%;
    aspect-ratio: 1;

    border: 2px solid white;
}

.blockstate-panel form {
    display: flex;
    flex-direction: column;
}

.blockstate-panel fieldset {
    width: 100%;

    display: flex;
    justify-content: space-between;

    border: none;
}