.forum-page {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  padding: 10px;
  flex: 100%;
}

.posts {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 30px 20px;
  justify-items: center;
  padding: 10px;
}

.forum-page .pagination-container {
  display: flex;
  justify-content: center;
}

.tags-area {
  margin: 10px
}