header#site-header {
    padding: 1em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header > h2 > a {
    color: black;
    font-size: xx-large;
}

header > h2 {
    text-align: center;
}

@media (max-width: 600px) {

    header > h2 > a {
        font-size: x-large;
    }
}
