.post-actions {
  display: flex;
  justify-content: space-between;
}

.icons:hover {
  cursor: pointer;
} 

.post{
  width: 250px;
  height: 230px;
  border: 2px rgb(201, 201, 201) solid;
  border-radius: 5px;
  padding: 5px
}

.post:hover{
  border: 3px #75bd82 solid;;
}

.publish-form{
  display: flex;
  flex-direction: column;
}