.profile-page .user-info {
    margin: 1em;

    display: flex;
    justify-content: space-evenly;
}

.profile-page .big-profile-image-wrapper {
    height: 100%;

    flex: 1;
}

.profile-page .big-profile-image {
    height: 75%;
    border-radius: 50em;
}

.profile-page .name-area {
    display: flex;
    gap: 1em;
    align-items: center;

    font-size: 1.5em;
}

.mantine-Modal-content form {
    padding-right: 1em;
}

.mantine-Modal-content .form-submit {
    margin: 0;
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}

.mantine-Modal-content form {
    display: grid;
    gap: 1em;
    grid-template-columns: max-content max-content;
    align-items: center;
}

.profile-page {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    padding: 10px;
    flex: 100%;
    width: 100%
}

#mantine-6x0g87hhx-panel-builds {
    display: flex;
}

.container {
    height: 100%;
}

@media (max-width: 600px) {

    .name-area {
        h2 {
            font-size: x-large;
        }
        p {
            font-size: medium;
        }
    }
}