#main-ui {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

#build-plane {
  width: 70vw;  
  height: 70vh;
  border: 2px solid white; 
}

  
#block-selection {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
  padding: 10px; 
  background: white; 
  border-left: 2px solid #ddd; 
}

.build-tools {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}
